*,
*::before,
*::after {
   box-sizing: border-box;
}

html,
body {
   background: linear-gradient(to right, #0ba9f8, #4be450);
   margin: 0;
}
.calculator-grid {
   display: grid;
   margin-top: 2rem;
   grid-template-columns: repeat(4, 6rem);
   grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
   /* auto lets the number expend */
   justify-content: center;
}

.span-two {
   grid-column: span 2;
}
.output {
   grid-column: 1/-1;
   background-color: rgba(228, 228, 228, 0.619);
   border-radius: 4px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-end;
   padding: 0.75rem;
   word-wrap: break-word;
   word-break: break-all;
}
.calculator-grid > button {
   cursor: pointer;
   font-size: 2rem;
   border: 1.5px solid white;
   border-radius: 6px;
   outline: none;
   background-color: rgba(131, 131, 83, 0.559);
}
.output .previous-operand {
   color: tomato;
   font-size: 20px;
}
.output .current-operand {
   color: tomato;
   font-size: 40px;
}
